<html>

<head>
    <title>Second</title>
</head>

<body>
    <h1>Second</h1>
    <% if(1>2){ %>
        <p>
            <%=data.location.region%>
        </p>
        <img src="<%=data.current.condition.icon %>" class="wheather" alt="wheather">
        <p>khan</p>
        <% } else{%>
            <p>
                <%=data.location.name%>
            </p>
            <% }%>
</body>

</html>